html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body, .sectionWrap, .section{
  height: 100%;
  width: 100%;
}

.sectionWrap{
  transition: all;
  -webkit-transition: all;
  position: absolute;
}
