html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body, .sectionWrap, .section{
  height: 100%;
  width: 100%;
}

@mixin transform($params){
  transform: $params;
  -webkit-transform: $params;
}

.sectionWrap{
  transition: all 0s linear;
  -webkit-transition: all 0s linear;
  position: absolute;
  .section{
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    @include transform(rotateZ(0deg));
    img{
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
    }
  }
  
}

@mixin animation($params){
  animation: $params;
  -webkit-animation: $params;
}

@mixin keyframes($name){
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name}{
    @content;
  }
}

.arrow{
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  img{
    width: 20px;
  }

  @include animation(arrow 0.5s ease 0s infinite alternate);
  @include keyframes('arrow'){
    0% {bottom: 20px;}
    100% {bottom: 10px;}
  };
}


