@import 'FullSlider';

.loader{
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  color: #fff;
  padding-top: 50%;
  z-index: 10;
}

[data-id="0"]{
  background: url(../images/1.jpg);
}
[data-id="1"]{
  background: url(../images/2.jpg);
  background-size: contain !important;
  background-color: #17C6FF;
}
[data-id="2"]{
  background: url(../images/3.jpg);
  background-size: contain !important;
  background-color: #17C6FF;
}
[data-id="3"]{
  background: url(../images/4.png);
  background-size: contain !important;
  background-color: #6AD9D0;
}
[data-id="4"]{
  background: url(../images/5.png);
  background-size: contain !important;
  background-color: #6AD9D0;
}
[data-id="5"]{
  background: url(../images/6.png);
  background-size: contain !important;
  background-color: #4EDEBB;
}
[data-id="6"]{
  a.map{
    z-index: 10;
    cursor: pointer;
    display: block;
    position:absolute;
    width: 80%;
    height: 40px;;
    margin: 0 auto;
    left: 0;
    right: 0;
    &.email{
      top: 17.5%;
    }
    &.phone{
      top: 30%;
    }
    &.qq{
      top: 42.5%;
    }
  }
  background: url(../images/7.jpg);
}

[data-type="animation"]{
  opacity: 0;
}



@include keyframes('puffIn'){
  0%{opacity:0;@include transform(scale(2,2));}
  100%{opacity:1;@include transform(scale(1,1));}
}

@include keyframes('puffIn2-1'){
  0%, 100%{transform-origin: 30% 35%}
  0%{opacity:0;@include transform(scale(2,2));}
  100%{opacity:1;@include transform(scale(1,1));}
}

@include keyframes('puffIn2-2'){
  0%, 100%{transform-origin: 80% 80%}
  0%{opacity:0;@include transform(scale(2,2));}
  100%{opacity:1;@include transform(scale(1,1));}
}

@include keyframes('fadeIn'){
  0%{opacity:0;}
  100%{opacity:1;}
}

@include keyframes('fadeInUp'){
  0%{opacity:0;@include transform(translate3d(0,50px,0));}
  100%{opacity:1;@include transform(none);}
}

@include keyframes('fadeInRight'){
  0%{opacity:0;@include transform(translate3d(50px,0,0))};
  100%{opacity:1;@include transform(none);}
}

@include keyframes('fadeInLeft'){
  0%{opacity:0;@include transform(translate3d(-50px,0,0))};
  100%{opacity:1;@include transform(none);}
}

@include keyframes('bounceInLeft'){
  0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);}

  0%{opacity:0;-webkit-transform:translate3d(-50px,0,0);transform:translate3d(-50px,0,0)}
  60%{-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}
  75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}
  90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}